* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', Cambria;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

:root{
    --main-color: purple;
    --secondary-color: red;
    --text-color: gold;
    --border-color: #303030;
    --gradient-start: #4d4d4d;
    --gradient-end: #2b2b2b;
    --bg-gradient-start: #2c2c2c;
    --bg-gradient-end: #424242;
    --bg-color:rgb(137, 35, 107);
}

body{
    color: var(--text-color);
    background-image: linear-gradient(120deg, var(--bg-gradient-start), var(--bg-gradient-end)) !important;
    background-attachment: fixed;
}

.bg-gradient{
    background-image: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    background-attachment: fixed;
}

.main-container{
    max-width: 1320px;
    width: 90%;
    margin: 50px auto;
    display:grid;
    grid-template-columns: 425px 1fr;
    grid-gap: 10px;
    align-items: flex-start;
}

.menu-profile{
    display: grid;
    grid-template-columns: 65px 1fr;
    grid-gap: 10px;
}

header{
    position: relative;
    z-index: 2;
}

header,
header ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}

header ul{
    background: linear-gradient(120deg, var(--gradient-start), var(--gradient-end)) !important;
    padding: 10px 5px;
    border-radius: 30px;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
}

header ul li a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: 1.03rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--bg-color);
    position: relative;
    transition: all ease 0.2s;
}

header ul li a::after{
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left:120%;
    transform: translateY(-50%);
    white-space: nowrap;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

header ul li a::before{
    content: "";
    position: absolute;
    top: 50%;
    left:110%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent var(--main-color) transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

header nav ul li a:hover::after,
header nav ul li a:hover::before{
    opacity: 1;
    visibility: visible;
}

.dark-light-btn{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--text-color);
    background-color: rgb(28, 28, 28);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.dark-light-btn:hover,
header ul li a:hover{
    background-color: gold;
    color: purple;
}

.profile-container{
    height: 100%;
    position: relative;
}

.user-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px 0px 30px 30px;
    overflow: hidden;
}

.user-profile-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
}

.user-profile-img{
   width: 100%;
   height: 280px;
   display: flex;
   border-radius: 30px 0px 30px 30px;
   background-color: red;
   overflow: hidden;
}

.user-profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user-profile-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.user-profile-text span{
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.9rem;
}

.user-profile-text h1{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0px;
}

.profile-social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.profile-social-container a{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: var(--text-color);
    transition: all ease 0.3s;
}

.profile-social-container a:hover,
.user-profile-btns a:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
}

.user-profile-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
    border-top: 1px solid var(--text-color);
    width: 100%;
}

.user-profile-btns a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all ease 0.3s;
}

.user-profile-btns a:first-child{
    border-right: 1px solid black;
}